body {
  background-color: rgb(83, 0, 83);
  margin: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.keret {
  width: 40%;
  border: 5px solid #666566;
  background: bisque;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  padding: 11px;
}

header {
  color: black;
  text-align: center;
}

p {
  text-align: justify;
}

h2,
h3 {
  text-align: center;
}

.kep {
  width: 20%;
  height: auto;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  margin: auto;
  display: block;
}

.gitarkep-jobbra {
  float: left;
  margin: 0 15px 10px 20px;
  width: 200px;
  height: auto;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
  border-radius: 3px;
}

.gitarkep1 {
  width: 120px;
  height: auto;
  float: left;
  margin: 0 15px 10px 0;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.8);
}

.clear {
  clear: both;
}

.gitarlista {
  list-style: none;
}

.gitarlista li {
  border: 1px solid black;
  border-radius: 5px;
  text-align: justify;
  padding: 6px 3px;
  margin-bottom: 20px;
}
